<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img src="assets/logo1.png" alt="" style="height: 100px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  </div>

<section class="get-in-touch py-4">
  <div class="container">
    <form action="https://formspree.io/f/mvolrezr" method="POST">
      <h3 class="text-center">Please Get In Touch With Us</h3>
    <div class="contact-form row">
      <div class="form-field col-lg-6">
        <input type="text" id="name" class="input-text" formControlName="name" name="name" placeholder="Name">
        <label for="name" class="label"></label>
      </div>

      <div class="form-field col-lg-6">
        <input type="text" id="last_name" class="input-text" formControlName="last_name" name="last_name" placeholder="Surname">
        <label for="surname" class="label"></label>
      </div>

      <div class="form-field col-lg-6">
        <input type="email" id="email" class="input-text" name="email" formControlName="email" placeholder="Email">
        <label for="email" class="label"></label>
      </div>

      <div class="form-field col-lg-6">
        <input type="phone" id="phone" class="input-text" name="phone" formControlName="contact" placeholder="Contant Number">
        <label for="phone" class="label"></label>
      </div>

      <div class="form-field col-lg-12">
        <input type="message" id="name" class="input-text" name="message" formControlName="message" placeholder="Message">
        <label for="messgae" class="label"></label>
      </div>

      <div class="form-field col-lg-12">
        <input type="submit" id="submit" class="submit-btn" name="submit" value="submit">
        <!-- <label for="messgae" class="label">Message</label> -->
      </div>

    </div>
  </form>
  </div>
</section>

  <!-- footer -->
  <footer class="p-3 text-white bg-dark text-center position-relative" id="contact">
    <div class="container">

      <!-- <div class="col-lg-6 phone">
        You can call or message us on the following contacts for your orders:
      </div> -->
      <div class="text-center mb-4">
        Lwazi: 063 9509 808 <br> Siphesihle: 073 2027 556 <br> Yanga: 063 9628 902
      </div>

      <p class="lead" style="font-weight: bold">Khanya-Nathi Co-Op &copy; 2021</p>
      <div class="social-links">
        <a href="https://www.facebook.com/Khanya-Nathi-Youth-Co-op-103180915633517/"> <img src="assets/fb-logo.png" alt=""></a>
      </div>
    </div>
    </footer>
