<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img src="assets/logo1.png" alt="" style="height: 100px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  </div>

<section class="get-in-touch py-4">
  <div class="container">
    <div class="contact-form row">
      <div class="form-field col-lg-6">
        <input type="text" id="name" class="input-text" name="">
        <label for="name" class="label">Name</label>
      </div>

      <div class="form-field col-lg-6">
        <input type="text" id="surname" class="input-text" name="">
        <label for="surname" class="label">Surname</label>
      </div>

      <div class="form-field col-lg-6">
        <input type="email" id="name" class="input-text" name="email">
        <label for="email" class="label">Email</label>
      </div>

      <div class="form-field col-lg-6">
        <input type="phone" id="name" class="input-text">
        <label for="phone" class="label">Contact Number</label>
      </div>

      <div class="form-field col-lg-6">
        <input type="message" id="name" class="input-text">
        <label for="messgae" class="label">Message</label>
      </div>

      <div class="form-field col-lg-6">
        <input type="submit" id="submit" class="submit-btn" value="submit">
        <!-- <label for="messgae" class="label">Message</label> -->
      </div>

    </div>
  </div>
</section>

  <!-- footer -->
  <footer class="p-5 text-white bg-dark text-center position-relative" id="contact">
    <div class="container">
      <div class="social-links">
        <a href="https://www.instagram.com/meslane_z/"> <img src="assets/fb-logo.png" alt=""></a>
      </div>
      <p class="lead" >Khanya-Nathi Co-Op &copy; 2021</p>

    </div>
    </footer>
