<div class="header">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="assets/logo1.png" alt="" style="height: 100px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-warning" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClick('work')">Our Programmes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<section class="services">
  <!-- Image slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="widows: unset;" >
    <div class="carousel-item active">
      <img src="assets/img1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block">
        <h3>Our Suppliers</h3>
        <p> We are currently working with one of the largest supermarkets in SA, Boxer Superstores</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block">
        <h3>Crops</h3>
        <p> Home-grown crops</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block">
        <h3>Donations</h3>
        <p> We donate clothes and sanitary towels in our community</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</section>

<section class="vision pt-4" >
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2 style="text-decoration: underline;">Our Vision</h2>
        <img src="assets/vision.png" alt="" style="height: 200px; width: 200px;">
        <p>To see a healthy, gender balanced, prosperous <br>and  productive society that lives in a conductive environment.</p>
      </div>

      <div class="col-lg-6 text-center">
        <h2 style="text-decoration: underline;">Our Mission</h2>
        <img src="assets/mission.png" alt="" style="height: 200px; width: 200px;">
        <p>The organisation envisions to provide the skill and knowledge to the underprivileged strata of the society so that they can recognize and use the resources around them for their holistic empowerment.</p>
      </div>
    </div>
  </div>
</section>

<section class="work " id="work">

  <div class="donations text-white text-center bg-dark" >
    <h2 class="text-center py-4 text-warning text-uppercase fw-bolder">Youth Empowerment Programmes </h2>
    <div class="container-lg p-3">
      <div class="row flex-row flex-nowrap overflow-auto">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        ....
      </div>
    </div>

  </div>

  <div class="donations text-white text-center" style="background-color: lightgreen;" >
    <h2 class="text-center py-4 text-uppercase fw-bolder text-dark"> Student Enrichment Programmes</h2>
    <div class="container-lg p-3">
      <div class="row flex-row flex-nowrap overflow-auto">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-block shadow">
            <img src="assets/img1.jpg" class="card-img-top img-fluid" alt="...">
          </div>
        </div>
        ....
      </div>
    </div>

  </div>
          <!-- <div class="col-lg-3 col-md-6 col-sm-12" style="height:40vh"> -->

          <!-- </div> -->

      <!-- <div class="row mb-3">
        <h4 style="font-weight: bold; text-transform: uppercase; text-decoration: underline;" class="text-success">Donations</h4>
        <div class="col-lg-4">

          <p>Distributing sanitary towels to the neighbouring schools</p>
        </div>

        <div class="col-lg-4">
          <img src="assets/img8.jpg" alt="" style="width: 70%; height: 70%;">
          <p>Donating clothes to the needy in our community and its surroundings</p>
        </div>

        <div class="col-lg-4">
          <img src="assets/sanitory.jpg" alt="" style="width: 70%; height: 70%;">
          <p>Distributing sanitory towels at another school</p>
        </div>

      </div> -->

    <!-- <div class="container">

      <div class="row">
        <h4 style="font-weight: bold; text-transform: uppercase; text-decoration: underline;" class="text-success ">Skills Development Center</h4>
        <div class="col-lg-4">
          <img src="assets/farming.jpg" alt="" style="width: 70%; height: 70%;">
          <p>We do farming</p>
        </div>

        <div class="col-lg-4">
          <img src="assets/tournament.jpg" alt="" style="width: 70%; height: 70%;">
          <p>Sports Tournaments including Football and Netball</p>
        </div>

        <div class="col-lg-4">
          <img src="assets/netball2.jpg" alt="" style="width: 70%; height: 70%; ">
          <p>Students participating in sports</p>
        </div>

      </div>
    </div> -->

  <!-- <div class="classes text-center" style="background-color: lightgreen;">
    <h2 class="text-center pt-4 text-uppercase fw-bolder">Student Enrichment Programmes </h2>
    <div class="container">
      <div class="row">
        <p style="font-weight: bold; font-size: 17px; text-decoration: underline;">The Khanya-Nathi Co-Op also offers Student Enrichment Programmes which consists <br> of afternoon classes/tutoring and educating/addressing students on social issues.</p>
        <div class="col-lg-4">

          <img src="assets/img10.jpg" alt="" style="width: 70%; height: 70%;">
          <p>Afternoon classes at a neighbouring school</p>
        </div>

        <div class="col-lg-4">
          <img src="assets/img9.jpg" alt="" style="width: 60%; height: 80%;">
          <p>Addressing the students on social issues</p>
        </div>

        <div class="col-lg-4">
          <img src="assets/class.jpg" alt="" style="width: 60%; height: 80%;">
          <p>Classes and addressing the students at another school</p>
        </div>
      </div>
    </div>
  </div> -->

</section>

  <!-- footer -->
   <footer class="p-3 text-white bg-dark text-center position-relative" id="contact">
    <div class="container">
      <div class="text-center mb-4">
        Lwazi: 063 9509 808 <br> Siphesihle: 073 2027 556 <br> Yanga: 063 9628 902
      </div>

      <p class="lead text-success" >Khanya-Nathi Co-Op &copy; 2021</p>
      <div class="social-links">
        <a href="https://www.facebook.com/Khanya-Nathi-Youth-Co-op-103180915633517/"> <img src="assets/fb-logo.png" alt=""></a>
        <a routerLink="/contact"><img src="assets/phone.png" alt=""></a>
      </div>
    </div>
    </footer>
