<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img src="assets/logo1.png" alt="" style="height: 100px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>

  <section class="about py-4 bg-dark text-light">
    <h1 class="text-center text-warning text-uppercase fw-bolder py-3">Khanya-Nathi Youth Co-Op</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-success">Khanya-Nathi Co-Op is a cooperative based in a small town called Lusikisiki under the deep rural areas of eQaukeni in Mgojweni location (Eastern Cape). It is directed by 3 personnel, Lwazikazi Macingwane, Yanga Faku, Siphesihle Tansi. The purpose of our cooperative is to release the economic, cultural and social needs of the community members and other surrounding communities.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/img11.2.jpg" alt="" style="width: 50%;">
        </div>
      </div>
    </div>

    <div class="container m-4">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img5.jpg" alt="" style="width: 90%;">
        </div>
        <div class="col-md-6">
          <p class="text-warning">We produce crops such as spinach, cabbage and beetroot. We have supplied different communities with our crops icluding one of the largest supermarkets in South Africa, Boxer Superstore. Our purpose is to create dependency and employment amongst the youth as there is an increasing rate of unemployment and promoting the culture of "Vukuzenzele Darkie".</p>
        </div>
      </div>
    </div>
  </section>

  <section class="team m-4">
    <h1 class="text-center text-uppercase">The Team</h1>
<div class="container">
  <div class="row justify-content-center text-center g-4">
    <!-- <div class="col-xl-10 col-lg-11"> -->
    <div class="col-md">
      <div class="card text-dark">
        <div class="card-body text-center">
          <div class="h1 mb-3">
            <i class="bi bi-laptop"></i>
          </div>
          <span class="material-icons">
            <img src="assets/yanga.jpg" alt="">
            </span>
          <h3 class="card-title mb-3">Chairperson</h3>
          <p>Yanga Faku</p>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card text-dark">
        <div class="card-body text-center">
          <div class="h1 mb-3">
            <i class="bi bi-people"></i>
          </div>
          <span class="material-icons">
            <img src="assets/lwazi.jpg" alt="">
            </span>
          <h3 class="card-title mb-3">Treasurer</h3>
          <p>Lwazikazi Macingwane</p>
        </div>
      </div>
    </div>

      <div class="col-md">
        <div class="card text-dark">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <span class="material-icons">
              <img src="assets/sihle.jpg" alt="">
              </span>

            <h3 class="card-title mb-3">Secretary</h3>
            <p>Siphesihle Tantsi</p>
          </div>
        </div>
      </div>
  </div>
</div>
  </section>

  <!-- footer -->
<footer class="p-3 text-white bg-dark text-center position-relative" id="contact">
  <div class="container">
    <div class="text-center mb-4">
      Lwazi: 063 9509 808 <br> Siphesihle: 073 2027 556 <br> Yanga: 063 9628 902
    </div>
    <p class="lead text-success" >Khanya-Nathi Co-Op &copy; 2021</p>
    <div class="social-links">
      <a href="https://www.facebook.com/Khanya-Nathi-Youth-Co-op-103180915633517/"> <img src="assets/fb-logo.png" alt=""></a>
      <a routerLink="/contact"><img src="assets/phone.png" alt=""></a>
    </div>
  </div>
  </footer>

